<h1>Usuarios</h1>

<button routerLink="/users/new">
Crear usuario
</button>

<div *ngIf="loading">

Cargando...

</div>

<div *ngIf="error">

{{ error }}

</div>

<table *ngIf="!loading">

<thead>

<tr>

<th>ID</th>
<th>Nombre</th>
<th>Correo</th>
<th>Rol</th>
<th>Estado</th>
<th>Acciones</th>

</tr>

</thead>

<tbody>

<tr
*ngFor="
let user
of users
"
>

<td>

{{ user.id }}

</td>

<td>

{{ user.nombres }}
{{ user.apellidos }}

</td>

<td>

{{ user.correo }}

</td>

<td>

{{ user.rol }}

</td>

<td>

{{ user.estado
? 'Activo'
: 'Inactivo'
}}

</td>

<td>

<button
[routerLink]="[
'/users/edit',
user.id
]"
>

Editar

</button>

<button
*ngIf="user.estado"
(click)="
deactivate(
user.id!
)
"
>

Desactivar

</button>

<button
*ngIf="!user.estado"
(click)="
activate(
user.id!
)
"
>

Activar

</button>

</td>

</tr>

</tbody>

</table>