
<h1>

Vacantes disponibles

</h1>

@if (
role === 'EMPRESA'
) {

<button
(click)="create()"
>

Publicar vacante

</button>

}

<div *ngIf="vacancies.length > 0">

<div
class="grid"
>

<div

class="card"

*ngFor="
let vacancy
of vacancies
"

(click)="open(vacancy.id)"
>

<h2>

{{ vacancy.titulo }}

</h2>

<p>

{{ vacancy.descripcion }}

</p>

<p>

📍 {{ vacancy.ciudad }}

</p>

<p>

💵 {{ vacancy.remuneracion }}

</p>

</div>

</div>

</div>

<div *ngIf="vacancies.length===0">

No hay vacantes disponibles

</div>